body {
    background-color: #488ccd;
    width: 800px;
    color: white;
    margin: 0 auto;
    padding: 50px;
}

.page-title {
    font-size: 50px;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 40px;
}